body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

  .main-container{
    display: flex;
    width: px;
    background: white;
    border-radius: 15px;
    overflow: 0 10px 25px
    rgba(0,0,0,0.2) ;
  }

  

  .right-side{
    width: 60%;
    padding: 40px;
  }

  .right-side h2{
    color: navy;
    margin-bottom: 20px;
  }

  label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }

input[ type="text" ]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
}
input[ type="email"]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
}

input[type=submit],
input[type=reset]{
    width: 45%;
    background: navy;
    color: white;
    border: none;
    padding: 10px;
    cursor:pointer;
}


select {
  padding: 10px;
  border: 1px solid navy;
border-radius: 5px;
color: #0f4c81;
}