* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #f5f7fb;
    min-height: 100vh;
}


/* main form*/

.right-side {
    width: 100%;
    padding: 35px 40px;
}


/* action */

.right-side h2 {
    color: #1e3a8a;
    font-size: 26px;
    margin-bottom: 25px;
}


/* labels */

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}


/* inputs*/

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 11px;

    border: 1px solid #ddd;
    border-radius: 8px;

    outline: none;
    font-family: inherit;
}

input:focus,
select:focus {
    border-color: #1e3a8a;
}


/* buttons */

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

button {
    padding: 11px 20px;

    border: none;
    border-radius: 8px;

    background: #1e3a8a;
    color: white;

    font-family: inherit;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}


/* mobile */

@media (max-width: 700px) {

    .right-side {
        padding: 25px 20px;
    }

    .buttons {
        flex-direction: column;
    }

    button {
        width: 100%;
    }
}