* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background: #f5f7fb;
    color: #333;
}


/*right side*/

.search-page {
    width: 100%;
    min-height: 100vh;
    padding: 35px;
}


/* header */

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.page-header h1 {
    font-size: 28px;
    font-weight: 600;
    color: #222;
}

.page-header p {
    margin-top: 5px;
    color: #777;
    font-size: 14px;
}


/* registration buttun */

.register-btn {
    background: #1e3a8a;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 7px;
    font-family: inherit;
    cursor: pointer;
}

.register-btn i {
    margin-right: 7px;
}

.register-btn:hover {
    background: #172f70;
}


/* search section */

.search-section {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.06);
}

.search-box {
    display: flex;
    gap: 12px;
}

.search-box input {
    flex: 1;
    height: 48px;
    padding: 0 15px;
    border: 1px solid #ddd;
    border-radius: 7px;
    font-family: inherit;
    font-size: 14px;
    outline: none;
}

.search-box input:focus {
    border-color: #1e3a;
}

.search-box button {
    height: 48px;
    padding: 0 25px;
    border: none;
    border-radius: 7px;
    background: #1e3a8a;
    color: white;
    font-family: inherit;
    cursor: pointer;
}

.search-box button:hover {
    background: #172f70;
}



/* visitor table */

.visitor-section {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.06);
}

.visitor-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

th {
    background: #f8f9fc;
    color: #1e3a8a;
    font-weight: 600;
}

td {
    color: #555;
}


/* output*/

.no-result {
    display: none;
    text-align: center;
    padding: 30px;
    color: #777;
}


/* responsive */

@media (max-width: 700px) {

    .search-page {
        padding: 20px;
    }

    .page-header {
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    .search-box {
        flex-direction: column;
    }

    .search-box button {
        width: 100%;
    }
}