* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: white;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* LEFT SIDE */
.left {
    width: 60%;
    background: #07579f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 35px;
}

.left h1 {
    color: white;
    font-size: 38px;
    margin-bottom: 35px;
    text-align: center;
}

.left img {
    width: 85%;
    height: 500px;
    object-fit: cover;
}


/* RIGHT SIDE */
.right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.login-box {
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 18px;
    background: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.login-box h2 {
    color: #23428d;
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 35px;
}


/* FORM */
#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;
}

#loginForm input {
    height: 50px;
    padding: 0 15px;
    margin-bottom: 20px;

    font-size: 16px;

    background: #e8f0fc;
    border: 1px solid #999;
    border-radius: 7px;
    outline: none;
}

#loginForm input:focus {
    border-color: #294594;
}


/* BUTTON */
#loginForm button {
    height: 52px;
    margin-top: 5px;

    background: #294594;
    color: white;

    border: none;
    border-radius: 7px;

    font-size: 18px;
    font-weight: 600;

    cursor: pointer;
}

#loginForm button:hover {
    background: #1d367c;
}


/* MESSAGE */
#loginMessage {
    text-align: center;
    margin-top: 12px;
}


/* RESPONSIVE */
@media (max-width: 900px) {

    .container {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .left {
        padding: 35px 20px;
    }

    .left h1 {
        font-size: 30px;
    }

    .left img {
        width: 80%;
        height: 300px;
    }

    .right {
        padding: 30px 20px;
    }
}